<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSTITUTO X</title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-6.4.2-web/css/all.min.css">
</head>
<body>
    <div class="top">
        <div class="top_st">
            <div class="top_st_container">
                <div class="top_st_x">
                    <div class="logo"></div>
                </div>
                <div class="top_st_x"></div>
            </div>
            

        </div>
        <div class="top_nd">
            <div class="top_menu">
                <ul class="top_list">
                    <li><a href="http://">Inicio</a></li>
                    <li><a href="http://">Sobre</a></li>
                    <li><a href="http://">Cursos</a></li>
                    <li><a href="http://">Contacto</a></li>
                    <li><a href="login/">Sistema</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main_slide">
            <img src="imgs/imagem1.jpg" alt="" srcset="">
            <div class="main_slide_over"></div>
        </div>
        <div class="fast_info" style="padding-top: 15px;">
            <h1>Bem-vindo ao Instituto de Tecnologias e Informacao</h1>
            <p style="text-align: center;">O Instituto de Tecnologias e Informacao, 
                como instituição pluridisciplinar de formação de
                 profissionais de nível superior, de pesquisa, de <br>
                 extensão e de domínio e cultivo do saber humano, tem 
                 a honra de se apresentar a toda a Comunidade Universitária, <br> 
                 aos seus parceiros nacionais e estrangeiros e a toda a sociedade
                  em geral.</p>
        </div>
        <div class="composition">
            <div class="cmp">
                <div class="icon"></div>
                <div class="number">7894</div>
                <div class="desc">Estudantes</div>
            </div>
            <div class="cmp">
                <div class="icon"></div>
                <div class="number">54</div>
                <div class="desc">Docentes</div>
            </div>
            <div class="cmp">
                <div class="icon"></div>
                <div class="number">10</div>
                <div class="desc">Cursos</div>
            </div>
        </div>

        <div class="depoiments">
            <div class="dpContainer">
                <div class="dp">
                    <h2>Uma Jornada Transformadora no ITI</h2>
                    <P style="text-align: justify;">
                        Minha experiência no Instituto de Tecnologias e Informacao tem sido extraordinária
                         e transformadora. Desde o momento em que entrei pela primeira vez
                          no campus, fui recebido calorosamente pela comunidade acadêmica e 
                          pela atmosfera inspiradora que permeia cada canto deste instituto.
                    </P>
                    <p style="text-align: right;"><strong>Jaqueline Santos</strong></p>
                </div>
                <div class="dp">
                    <img src="imgs/imagem3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="newsletter" style="padding-top: 15px; ">
            <h2 style=" color: white;">Junte-se a Comunidade</h2><br>
            <div style="text-align: center;">
                <input type="email" name="" id="" placeholder="email"><button>SUBMETER</button>
            </div>
           
            
        </div>
        <div class="bottom_menu">
            <div class="bt">
                <div class="location" style="width: 100%; height: 40%;">
                    <p>Centro Mainsha Makulu Pemba</p>
                    <p>Av. Marginal, rua 04</p>
                    <p>Pemba, Mozambique</p>
                </div>
                <div class="contact" style="width: 100%; height: 15%;"><i class="fa-solid fa-phone"></i> (258) 84 635 1383 </div>
                <div class="email" style="width: 100%; height: 15%;"><i class="fa-solid fa-envelope"></i> inssaagostinho@gmail.com</div>
                <div class="media" style="width: 100%; height: 30%; font-size: 30px;">
                    <a href="http://"><i class="fa-brands fa-facebook"></i></a>
                    <a href="http://"><i class="fa-brands fa-instagram"></i></a>
                    <a href="http://"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="bt"></div>
            <div class="bt"></div>
        </div>
        <footer style="color: white;">
            <div style="text-align: center; padding-bottom: 5px;"><p>Copyright &copy; 2023 - ITI. Todos os direitos reservados.</p></div>
           
        </footer>
    </div>

    <script src="javascripts/script.js"></script>
</body>
</html>
