body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --height_top: 140px;
  --height_main_slide: 600px;
  --height_cmp: 120px;
}

h1, h2 {
  margin: 0;
  text-align: center;
}

.logo {
  
  width: 20%;
  height: 90%;
  background-color: rgb(88, 84, 84);
}

.top {
  width: 100%;
  height: var(--height_top);
  background-color: black;
}

.top_st {
  width: 100%;
  height: 66%;
  background-color: white;
}

.top_st_container {
  background-color: #047d4b;
  width: 100%;
  height: 100%;
  display: flex;
}

.top_st_x {
  width: 50%;
  height: 100%;
}

.top_st_x:first-of-type {
  margin-left: 7%;
  display: flex;
  align-items: center;
}

.top_nd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34%;
 
}

.top_menu {
  width: 40%;
  height: 80%;
 
}

.top_list {
  display: flex;
  justify-content: space-around;
}

.top_list li a {
  color: white;
} 

.top_list li a:hover {
  color: green;
} 

.main_slide {
  width: 100%;
  height: var(--height_main_slide);
  background-color: black;
}

.main_slide img {
  width: 100%;
  height: 100%;
}

.main_slide_over {
  z-index: 100;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: var(--height_top);;
  height: var(--height_main_slide);
  width: 100%;
}

.fast_info {
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
}

.composition {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: var(--height_cmp);

}

.cmp {
  
  width: 20%;
  height: var(--height_cmp);
}

.icon {
  width: 100%;
  height: 20%;
}

.number {
  text-align: center;
  width: 100%;
  height: 60%;
  font-size: 60px;
}

.desc {
  text-align: center;
  width: 100%;
  height: 20%;
}
.top_list a {
  text-decoration: none;
}

.depoiments {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dpContainer {
  display: flex;
  width: 65%;
  height: 70%;
  
}

.dp:first-of-type {
  padding: 5%;
  width: 20%;
  height: 100%;
}
.dp:last-of-type {
  width: 70%;
  height: 100%;
}

.dp img {
  width: 100%;
  height: 100%;
}

.bottom {
  width: 100%;
  height: 500px;
  background-color: black;
}

.newsletter {
  width: 100%;
  height: 20%;
  background-color: rgb(11, 130, 80)
}

input[type="email"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
 
}


button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
 
}

button:hover {
  background-color: black;
  color: white;
}

.bottom_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: white;
}

.bt {
  width: 23%;
  height: 85%;
 
} 

.media a {
  color: black;
}